LOG_LEVEL=info

PORT=3000

# postgres://user:password@host:port/database
DATABASE_URL=postgres://dev:dev@db:5432/dev

JWT_SECRET=password
JWT_REFRESH_SECRET=password
JWT_EXPIRES_IN='15m'
JWT_REFRESH_EXPIRES_IN='1d'